@charset "UTF-8";

@media screen and (max-width:1024px) {

    #header .row {
        position: relative;
    }

    /* 검색창 */
    #header .search {
        position: fixed;
        right: 70px;
        top: 55px;
        transform: translateY(0%);
        z-index: 999;
        font-size: 28px;
    }

    #header .search #sbox {
        border: 1px solid #ddd;
        width: 300px;
        padding: 6px 5px;
        border-radius: 3px;
        margin-right: 5px;
        overflow: hidden;
        outline: none;
        transition: all 0.5s;
        vertical-align: middle;
    }
    #header .search label{
        vertical-align: middle;
    }
    #header .opennav {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        font-size: 30px;
        transform: translateY(-50%);
    }

    #header #nav {
        display: none;
        z-index: 99;
        position: fixed;
        height: 100%;
        width: 200px;
        background: #fff;
        top: 0%;
        transform: translateY(0%);
        right: 0;
        font-size: 18px;
        color: #1e1e1e;
        padding-top: 50px;
    }

    #header #nav .depth1>li {
        float: none;
        position: relative;
    }

    #header #nav .depth1>li>a {
        padding: 20px 0px;
        text-align: center;
        display: block
    }

    #header #nav .depth1>li:hover>a {
        color: #00529b;
    }

    /* 
        pc화면에서는 .depth2가 부모(.depth1>li) 바깥쪽 아래로 가야해서 position:absolute를 사용했으나, 모바일 화면에서는 원래위치(부모 안에서 아래)로 돌아가기 위해 position:static을 사용해 absolute를 취소함
    */
    #header .depth2 {
        position: static;
        top: 100%;
        left: 0;
        background: #555;
        font-size: 14px;
        color: #fff;
        width: 100%;
        text-align: center;
        display: none;
    }

    #header #nav .depth1>li:hover .depth2 {
        display: block;
    }

}