@charset "utf-8";
@media screen and (max-width:1024px) {

    .article2 li { height:300px; float:left; width:49%; 
        margin-right:2%;
        margin-bottom: 20px; 
        color:#fff;
        position:relative; 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size:cover; opacity:1; 
        transition:all 1s; 
    }
    .article2 li:nth-child(2){
        margin-right: 0;
    }
    .article2 li>div {
        text-align: center;
    }
    .article2 li>div>p {
        display: none;
    }
    .article2 li>div>h3 {
        margin-bottom: 30px;
    }













}